
body{
	font-family: 'Roboto', sans-serif;
	color: #4D4D4D;
	display: block;
	width:100%;
	margin:0;
}
/* --------------------------------------Intro text------------------------------------------*/
#intro
{
	margin-left: auto;
	margin-right: auto;
}
#intro img
{
	height: 500px;
	width: 100%;
}
#text
{
	width: 80%;
	color: white;
	left:0;
	right: 0;
	top:350px;
	margin: auto auto;
	position: absolute;
}
h3
{
	font-size: 2em;
	color:rgb(41,171,225);
}
/* --------------------------------------Fin Intro text------------------------------------------*/
/*-----------------------Video-------------------*/
#video
{
	color:rgb(41,171,225);
	width: 100%;
	background-color: rgb(238, 238, 238);
	text-align: center;
}
#video h4
{
	font-size: 3em;
}
/*-----------------------Fin Video-------------------*/


#page{
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #ffffff;
}


/*****RAPPEL COULEURS*****
Bleu menu: 45aed6
Bleu barres: 2a95be
Gris police: 4d4d4d
Gris hover menu: 2f3036
Vert logos/alert: bcdf5f
Vert hover bouttons: 7ad443
Rouge alert: ec7148
*/

/*...........................................LOGO............................................................*/
a{
	text-decoration:none;
	color: #4D4D4D;
	display: inline-block;
	margin:0 auto;
}

.logo{

	margin: 0 auto;
	text-align: center;
}

#groslogo{
	width:85%;
	height:auto;
}

/*...........................................Alertes...........................................................*/
.alert-r {
    padding: 20px;
    background-color: #ec7148; /* Rouge */
    color: white;
    margin-bottom: 15px;
}

.alert-v {
    padding: 20px;
    background-color: #7ad443; /* Vert */
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*.........................................My button............................................*/
.myButton {
	background-color:#45add6;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 20px;
	margin: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b6178;
}
.myButton:hover {
	background-color:#7bd443;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*.........................................bloc du haut..................................................*/
header{

	margin-top:20px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;

}


/*................................Barre de recherche..........................................................*/



	#zone_recherche {
		width: 260px;
		position: relative;
		float:right;
		margin-top:12px;

	}



#texte_recherche {
	width: 198px;
	margin:2px;
	height:16px;
	padding: 10px 50px 10px 10px;
	border: solid 1px #4D4D4D;
	font-size: 18px;
}

#bouton_recherche {
	margin-top: -16px;
	position: absolute;
	top: 50%;
	right: 10px;
	height:30px
}



/*.............................................................Menu.............................................................*/


@media screen and (max-width : 700px){
	/*Make dropdown links appear inline*/
	#menu {
		position: static;
		display: none;
	
	}
	/*Create vertical spacing*/
	#menu li {
		margin-right: 400px;
	}
	/*Make all menu links full width*/
	#menu li, li a {
		width: 300%;
	}
}


/*Strip the ul of padding and list styling*/
#menu {
	list-style-type:none;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	position: relative;
	background: white;
	/*-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
	width: 100%;*/
}

/*Create a horizontal list with spacing*/
#menu li {
	display:flex;
	margin-right:20px;
	margin-left:10px;
}


/*Style for menu links*/
#menu li a {
	display:flex;
	justify-content:center;
	min-width:170px; 
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: fff;
	
	background:white;
		
}


/*Hover state for top level links*/
#menu li:hover a {
	background: white;
}


/*Style for dropdown links*/
#menu li:hover #menu a {
	background: #2f3036;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
#menu li:hover #menu a:hover {
	background: #2f3036;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
#menu li #menu {
	display: none;
}

/*Make dropdown links vertical*/
#menu li #menu li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
#menu li #menu li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#menu li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
		background: #45aed6;

	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 100%){
	/*Make dropdown links appear inline*/
	#menu {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	#menu li, #menu li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}

#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
#menu li {
 float:left;
 margin:auto;
 padding:0;
 background-color:black;
 }
#menu li a {
 display:block;
 width:100px;
 color:black;
 text-decoration:none;
 padding:5px;
 
 }
#menu li a:hover {
 color:#8B4513;
 font-weight: bold;
 border-bottom: 1px solid #45BEF8;
 }

 .s-menu  {
 display:none;
 }

 #menu ul li:hover ul {
 display:block;
 box-shadow: 0px 5px 5px #DDE0E0;
 }
#menu li:hover ul li {
 float:none;
 }
 #menu li ul {
 position:absolute;
 z-index: 100000;
 }
/***************************************MAIN******************************************************************************/


#main{
	margin-top: -20px;
	padding-top : 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
	height : 85%;
	background-color : #fff;
	/* flex:1; 	 */
}

#erreur{
	width : 50%;
	height : 50%;
	margin-bottom : 20px;
}

/****************************SE CONNECTER*************************************/
fieldset {
	
	
	width: 400px;
	margin-left: auto;
 	margin-right: auto;
 	background-color: #9E560F;
 	box-shadow: 0px 3px 0px #cfcccc;
 	 border-radius:25px;

 }
 .fieldsetInscr{
 	width: 400px;
	margin-left: auto;
 	margin-right: auto;
 	background-color: #f1F1F1;
 	box-shadow: 0px 3px 0px #cfcccc;
 	 border-radius:25px;
 }
	


.titreConnexion{
	text-align: center;
	width:430px;
	margin-left: auto;
  	margin-right: auto;
  	
  	font-size: 15px;
  	font-style: italic;

}

input {
    border-radius:2px;
}

#titreFormulaire{
	width:300px;
	height: 25px;
	margin-left: auto;
  	margin-right: auto;


}
#questionCaptcha{
	display:inline-block;
	float:left;
	color:white;
	font-size:15px;
	font-family:"Times New Roman", sans-serif;
	
	


}
#resCaptcha{


margin-left:-189px;
	


	


}
#notreForm input:hover, #notreForm select:hover, #notreForm input:focus, #notreForm select:focus
{
	/*border: #999 2px solid;*/
	background-color:#89D3FE;
}
#CreationAccount{
	
	
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
 

	
	

}
#CreationAccount a{
	color:#0000cc;
}

#mdpforgot{
	
	font-size: 12px;
	font-style: italic;
	color:white;


}
#titreLegendInscrip{
	font-size:16px;
}

/***************************************Accueil ******************************/

h1{
	font-size:50px;	
	text-align: center;	
}



legend{
	font-size:20px;
	}
	
.titre{
	font-size:23px;
}
h3{
	padding-right:10px;
}

#imgnews{
	display:flex;
	margin-left:-20.4px;
	margin-right:-20.2px;
}

.fb-page{
	width:40%;
	height:300px;
	margin-left: 15%;
	float: right;

}

.img_article{
	max-width : 500px;
}

.img_profil{
	width : 100px;
	height : 100px;
	border: solid 2px #2a95be;
}	

.img_membre{
	width : 75px;
	height : 75px;	
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

.prearticle{
	width:100%;
	overflow : hidden;
}
.contenu{
	font-weight : bold;
}

/*************************************Articles*******************************************/

.flexcom{
	display:flex;
	margin:15px;
}

.flexc1{
	padding:10px;
	border: solid 1px #eaeaea;
}

.flexc1full{
	padding:15px;
	background-color: #eaeaea;
	min-width:100px;
}

.flexc2{
	padding:20px;
	flex:1;
	border: solid 1px #eaeaea;
	background-color: #fff;
}

.flexc2full{
	padding:20px;
	flex:1;
	background-color: #eaeaea;
}


/***************************************Visio********************************************/

#visios{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.unevid{
	margin:10px;
	width:160px;
	height:200px;
	text-overflow: ellipsis;
}

#horaires{
	height: 200px;
	overflow-y: auto;
}

#horaires td{
	margin: 2px;;
}

.date_res{
	border:5px #45aed6 solid;
	background-color: #45aed6;
	color: white;
	min-width:200px;
	text-overflow:hidden;
}

.divResult {
display: table;
margin-bottom: 5px;
border: 3px solid #2e2e2e;
min-height: 250px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
box-shadow: #333333 0 3px 3px;
margin-top: 20px;
width: 99.5%;
}

.tabPointO {
display: table-cell;
background-color: blue;
text-align: center;
color: #FFF;
width: 33%;
min-height: 250px;
min-width: 150%;
float: left;
height: 100%;
}


.tabPointO2 {
display: table-cell;
position: relative;
min-height: 250px;
background-color: #fff;
text-align: center;
color: #000;
min-width: 150px;
height: 100%;
width: 33%;
}


.tabPointO3 {
display: table-cell;
position: relative;
width: 33%;
min-height: 250px;
min-width: 150px;
background-color: blue;
text-align: center;
color: #FFF;
height: 100%;
}
/*********************************FIN MAIN****************************************************************/



 /*............................................bas de page..............................................*/

 footer{
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
	width: 100%;
	position: relative;
	
	

	}
 
 #partenaire{


	font-size:15px;
	text-align:center;
	background-color: #01ABFC;
	
}



.partenaireLogo{
	width:100px;
	height:100px;
	margin:10px;


}



hr{
	margin-top:30px;

}

#bas-de-page{

	position: relative;
	font-size:15px;
	height: 110px;
	padding:25px;
	background-color: #282828;
	
	
	color:#FFF;

	

}

/*....................................................titre : reseau Sociaux..................................................*/
#reseaux{
	
	
	
	display: inline-block;
	float: right;
	
	margin-right: 5%;
	
	margin-top: 7px;
	
	
}

.reseau{
	width:40px;
	height:40px;
	
}

/*--------------------------------------------------------------------------------------------------------------------------------*/


#textefooter{
	
		
		display: inline-block;
		margin-top: 20px;
		
		float:left;
		margin-left: 6.5%;
		margin-top: 7px;
		
		font-family:Times New Roman, sans-serif;
		font-size: 17px;
		
		

}
footer a {
	color:white;
}
#textefooterTitre{
		
		
		display: block;
		width:150px;
		font-family:Georgia, sans-serif;
		font-size: 18px;
		

		
      	
		
      


}
#textefooterTitreReseau{
	display: inline-block;
	
	float:right;
	margin-top: 7px;
	margin-right: 0.5%;
	font-size:17px;
	font-family:Times New Roman, sans-serif;


}


#textefooterX{
	
    position: absolute;
    display: inline-block;
    bottom: 2px;
    right: 3px;
    color:white;
   
    font-style: italic;
    font-size:13px;
}
#Up{
	display:inline-block;
	float:right;
	

}

