#menubarre {
    display:flex;
      margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    width: 200px;
    background-color: white;
}

#menubarre li a {
    justify-content: space-between;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#menubarre li a:hover {
    background-color: #43C9FF;
    color: white;
}

#bonjour{
    text-align: center;
}
#main{
    background-color: #F3F3F3;
    border-radius: 12px;
}
#liste{
    text-align: center;
    list-style-type: none;
}